{% extends "layouts/base.html" %}

{% block title %} Barangay {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Household DB</a></li>
              <li class="breadcrumb-item active" aria-current="page">Barangay</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Add Barangay Information</h1>
<!--              <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>-->
          </div>
          <div>
              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-6 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">
                <form method="post" id="form" action="">
                    {% csrf_token %}
                  <div class="row mb-4">
                      <div class="">
                          <div class="mb-4">
                              <label>Name of Barangay</label>
                              <input type="text" name="name" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="">
                          <div class="mb-4">
                              <label>HEC</label>
                              <input type="text" name="location" class="form-control" value="" required>
                          </div>
                      </div>
<!--                      <div class="col-lg-4 col-sm-6">-->
<!--                          <div class="mb-3">-->
<!--                              <label>Population</label>-->
<!--                              <input type="number" name="population" min="0" class="form-control" value="">-->
<!--                          </div>-->
<!--                      </div>-->
                      <div class="">
                          <div class="mb-3">
                              <label>Barangay Captain</label>
                              <input type="text" name="brgy_captain" class="form-control" value="" required>
                          </div>
                      </div>
                  </div>
                  <div class="mt-3">
                       <button class="btn btn-gray-800 mt-2 animate-up-2" id="successAlert">Save</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
