{% extends "layouts/base.html" %}

{% block title %} Household {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Household DB</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Households</li>
              </ol>
          </nav>
          <h1 class="h4">Add Household Information</h1>
          <p class="mb-0">This form is exclusively for encoders to filled out. If there is no information for a field, please input <strong class="text-danger">0</strong> (zero).</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="/add_lumon/" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
              Add Lumon
          </a>
      </div>
  </div>



<form id="form" method="post" action="">
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-header py-" style="background: #F9FAFB">
                <div class="align-content-center">
                    <h5 class="m-0 font-weight-bold text-primary" >BASIC INFORMATION</h5>
                </div>
              </div>
              <div class="card-body">
                    {% csrf_token %}
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-4">
                              <label>Family Name</label>
                              <input type="text" name="family_name" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-4">
                              <label>Barangay</label>
                              <select class="form-control form-select" name="barangay">
                                  {% for obj in brgy %}
                                  {% if obj in brgy.all %}
                                  <option selected value="{{ obj.id }}">{{ obj.name }} - {{ obj.location }}</option>
                                  {% else %}
                                  <option selected value="{{ obj.id }}">{{ obj.name }} - {{ obj.location }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>Address</label>
                              <input type="text" name="address" class="form-control" value="">
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>HAS Lumon</label>
                              <select class="form-control form-select" name="has_lumon">
                                  <option selected value="Yes">Yes</option>
                                  <option selected value="No">No</option>
                                  <option selected hidden="">Open this select menu</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of Members</label>
                              <input type="number" name="members" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of Catholic Residence</label>
                              <input type="number" name="catholic" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-header py-" style="background: #F9FAFB">
                <div class="align-content-center">
                    <h5 class="m-0 font-weight-bold text-primary" >SACRAMENTS</h5>
                </div>
              </div>
              <div class="card-body">
                    {% csrf_token %}
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>Mass Attendance</label>
                              <select class="form-control form-select" name="mass_attendance">
                                  <option selected value="Every Sunday">Every Sunday</option>
                                  <option selected value="Occasionally">Occasionally</option>
                                  <option selected value="Monthly">Monthly</option>
                                  <option selected value="Don't attend mass">Don't attend mass</option>
                                  <option selected hidden="">Open this select menu</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of NOT YET Baptized</label>
                              <input type="number" name="not_baptized" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of NOT YET Confirmed</label>
                              <input type="number" name="not_confirmed" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of NOT YET Married Couples</label>
                              <input type="number" name="not_married" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-header py-" style="background: #F9FAFB">
                <div class="align-content-center">
                    <h5 class="m-0 font-weight-bold text-primary" >EDUCATION</h5>
                </div>
              </div>
              <div class="card-body">
                    {% csrf_token %}
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>No. of Professionals</label>
                              <input type="number" name="professionals" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>STOP Studying High School</label>
                              <input type="number" name="stop_highschool" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>STOP Studying College</label>
                              <input type="number" name="stop_college" min="0" class="form-control" value="" required>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-header py-" style="background: #F9FAFB">
                <div class="align-content-center">
                    <h5 class="m-0 font-weight-bold text-primary" >OTHERS</h5>
                </div>
              </div>
              <div class="card-body">
                    {% csrf_token %}
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <div class="mb-3">
                              <label>Living Condition</label>
                              <textarea type="text" name="living_condition" class="form-control" rows="2" required></textarea>
                          </div>
                      </div>
                      <div class="col-lg-8 col-sm-6">
                          <div class="mb-3">
                              <label>Comments</label>
                              <textarea type="text" name="comments" class="form-control" required></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="mt-3">
                      <button class="btn btn-gray-800 mt-2 animate-up-2" id="basicAlert" type="submit">Save</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% if messages %}
    {% for message in messages %}
    <script>
        swal.fire({
                icon: 'success',
                title: 'Success alert',
                text: '{{ message }}',
                showConfirmButton: true,
                timer: 9000
            }).then((result) => {
                if (result.value) {
                    /*submit the form*/
                    $("#form").submit();
                }
            });
    </script>
    {% endfor %}
{% endif %}
{% endblock javascripts %}
