{% extends "layouts/base.html" %}

{% block title %} Schedule {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Household DB</a></li>
              <li class="breadcrumb-item active" aria-current="page">Schedule</li>
          </ol>
      </nav>
  </div>

  <div class="row">
      <div class="col-12 mb-4">
        <form method="post" action="" class="card shadow-sm p-3 pb-4 mb-4">
            <div class="card-header border-gray-400 mx-lg-4 p-0 py-3 py-lg-4 mb-4 mb-md-0">
                <h3 class="h5 mb-0">Schedule Information</h3>
            </div>
            {% csrf_token %}
            <div class="card-body p-0 p-md-4">
                <div class="row mb-4">
                  <div class="col-lg-4">
                      <div class="mb-4">
                          <label>Date and time</label>
                          <input type="datetime-local" name="datetime" class="form-control" value="" required>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="mb-4">
                          <label>User</label>
                          <select class="form-control form-select" name="user">
                              {% for obj in users %}
                              {% if obj in users.all %}
                              <option selected value="{{ obj.id }}">{{ obj.firstname }} {{ obj.lastname }}</option>
                              {% else %}
                              <option selected value="{{ obj.id }}">{{ obj.firstname }} {{ obj.lastname }}</option>
                              {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="mb-3">
                          <label>Task</label>
                          <input type="text" name="task" min="0" class="form-control" value="{{ query.task }}" required>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <div class="mb-3">
                          <label>Description</label>
                          <textarea type="text" name="description" class="form-control" required>{{ query.description }}</textarea>
                      </div>
                  </div>
                  <div class="mt-3">
                      <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save</button>
                  </div>
                </div>
            </div>
        </form>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
